venv/
*.env
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
node_modules/
dist/
build/
*.sqlite3
*.db
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
*.iml
*.class
out/
target/
*.jar
*.war
*.ear
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
